.gallery{margin-left: -20px;margin-bottom: 20px}
.gallery li{float:left;width: 160px;margin-left: 19px;padding:5px;border:1px solid #dedede;position: relative}
.gallery li:hover .btn-delete{display: inline-block}
.gallery li .btn-delete{display: none;z-index: 5;position: absolute;right:10px;top:10px}

.event-location {position: relative}
.event-location img{position: absolute;top:-3px;right: -40px}
.home-topbar{margin-bottom: 0;border-bottom: 0}

.link-logo{width: 20px}
.page-register .register-6{width: 470px;float: left}
.page-register .login-label{color: #000000;
    font-family: Arial;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 3px;
    text-align: right;
    width: 64px;}
.font-login{font-weight: 300;color:#666}
.form-login{width: 400px;margin-bottom: 50px;height: 310px}  
.rowElem{display: block;padding:14px 12px;background-color: #eceaeb}

.use-payment{margin:8px 10px 0 10px;}
.payment-ticket .input-mini{width: 65px !important;}

.label-signup{font-family: tahoma;color: #413f40}

ul.qrcodes{margin-left: 0;margin-top: 30px;}
    ul.qrcodes li{list-style: none;float: left;width: 193px;margin-right: 20px;margin-bottom: 20px;}
    ul.qrcodes li:nth-child(3n){margin-right: 0;}
    ul.qrcodes a{}
    ul.qrcodes a img{}
    
    
.event-url{width: 450px;}